@page "/acerca_de"

<div class="row justify-content-center ">
    <div class="col-10 alert alert-primary text-center">
        <h2>Acerca De</h2>
    </div>
</div>

<div class="row justify-content-center">
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="img/img.png" alt="Card image cap">
      <div class="card-body">
        <p>Danny Ozuna Vasquez</p>
        <p>2019-7992</p>
      </div>
    </div>
</div>