@page "/ejercicio6"

<div class="row justify-content-center ">
    <div class="col-10 alert alert-primary text-center">
        <h2>Ejercicio 6</h2>
        <p>Realiza un progrma que acepte una URL, determine la cantidad de párrafos e imágenes que contienen esta.</p>
    </div>
</div>

<div class="row justify-content-center">
    <div class="card text-center col-6">
      <h5 class="card-header">Cantidad de Párrafos e Imágenes</h5>
      <div class="card-body">
        <div class="d-flex">
              <input class="form-control me-2" type="search" @bind-value="url" placeholder="Escriba la URL aquí!...">
              <button class="btn btn-outline-success ml-3" @onclick="obtenerDatos">Buscar</button>
              @if(url.Length > 0){
                  <button class="btn btn-outline-danger ml-3" @onclick="limpiar">Limpiar</button>
              }
        </div>
    </div>
    @if(url.Length > 0){
      <div class="card-footer text-muted">
        <p>Cantidad Parrafos: @p</p>
        <p>Cantidad Parrafos: @i</p>
      </div>
    }
    </div>
</div>

@code{
    ObtenerDatos oObtenerDatos;
    string url = "";
    int p=0, i=0;
    private void obtenerDatos(){
        oObtenerDatos = new ObtenerDatos();
        oObtenerDatos.datosObtenidos(url);
        p= oObtenerDatos.cParrafos;
        i= oObtenerDatos.cImagenes;
    }
    private void limpiar(){
        url="";
        p=0;
        i=0;
    }
}
