@page "/"

<h1>Bienvenido a la Tarea 2</h1>

<p>Listado de Ejercicios</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>No.</th>
            <th>Título</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td>Programa que acepte una frase u oración, luego muestre la cantidad de vocales, y consonantes que tiene la misma.</td>
            <td><a href="ejercicio1" class="btn btn-success"><i class="oi oi-eye"></i></a></td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Programa que muestre todos los datos de un usuario de random users: https://randomuser.me/api/?results=1</td>
            <td><a href="ejercicio2" class="btn btn-success"><i class="oi oi-eye"></i></a></td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Programa que acepte un numero de una cedula dominicana y determine si es valida. (Sin usar api)</td>
            <td><a href="ejercicio3" class="btn btn-success"><i class="oi oi-eye"></i></a></td>
        </tr>
        <tr>
            <td>4.</td>
            <td>Programa que acepte las medidas de los lados de un triangulo determine el tipo de triangulo según sus lados</td>
            <td><a href="ejercicio4" class="btn btn-success"><i class="oi oi-eye"></i></a></td>
        </tr>
        <tr>
            <td>5.</td>
            <td>Programa que acepte un numero del 1 al 100000, mostrarlo en letras, Ejemplo 90 => noventa. (En español)</td>
            <td><a href="ejercicio5" class="btn btn-success"><i class="oi oi-eye"></i></a></td>
        </tr>
        <tr>
            <td>6.</td>
            <td>Realiza un programa que acepte una URL, determine la cantidad de párrafos e imágenes que contienen estas.</td>
            <td><a href="ejercicio6" class="btn btn-success"><i class="oi oi-eye"></i></a></td>
        </tr>
        <tr>
            <td>7.</td>
            <td>Programa que acepte una calificación (0 a 100), calcule el equivalete literal de la misma y una posible distribución para el siguiente esquema: 40, 30, 30. Ejemplo si digitamos 90 el programa mostrar A => 31, 29, 30</td>
            <td><a href="ejercicio7" class="btn btn-success"><i class="oi oi-eye"></i></a></td>
        </tr>

    </tbody>
</table>