@page "/"

<div class="row justify-content-center">
    <div class="col-8">
        <div class="alert alert-info text-center">
            <h1>Bienvenidos a la Tarea 3</h1>
        </div>
    </div>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>No.</th>
            <th>Título</th>
            <th>Ver</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td>Programa que acepte una cedula, y muestre los datos de la persona: nombre, apellido, fecha de nacimiento, foto y signo de zodiaco. Usar el siguiente api: https://api.adamix.net/apec/cedula/00117600825</td>
            <td><a href="ejercicio1" class="btn btn-success"><i class="oi oi-eye"></i></a></td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Programa que muestre la prediccion del clima actualizada para sando domingo (a su provincia), sin importar cuando se ejecute su aplicacion debe de mostrar estos datos.</td>
            <td><a href="ejercicio2" class="btn btn-success"><i class="oi oi-eye"></i></a></td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Programa que acepte una palabra o frase en español, mostrarlo en ingles</td>
            <td><a href="ejercicio3" class="btn btn-success"><i class="oi oi-eye"></i></a></td>
        </tr>
        <tr>
            <td>4.</td>
            <td>Programa que acepte el codigo de un video de youtube, mostrar en la pagina el video con opcion a reproducir. Ejemplo ICfaQ8mSppM</td>
            <td><a href="ejercicio4" class="btn btn-success"><i class="oi oi-eye"></i></a></td>
        </tr>
        <tr>
            <td>5.</td>
            <td>Programa que acepte un texto (Textarea), al presionar el boton enviar el mismo debe ser enviado a un grupo de telegram que usted creara para estos fines; debajo de la captura de texto, coloque el link para entrar al gurpo de telegram y el profesor poder probar esto.</td>
            <td><a href="ejercicio5" class="btn btn-success"><i class="oi oi-eye"></i></a></td>
        </tr>
        <tr>
            <td>6.</td>
            <td>Programa que mustre los ultimos 5 videos que usted ha subido a su canal de youtube. (Este programa debe actualizarse de manera automatica, usando la api de youtube)</td>
            <td><a href="ejercicio6" class="btn btn-success"><i class="oi oi-eye"></i></a></td>
        </tr>
        <tr>
            <td>7.</td>
            <td>Programa que acepte el nombre de un pokemon(en ingles), mostrar informacion del pokemon y una foto</td>
            <td><a href="ejercicio7" class="btn btn-success"><i class="oi oi-eye"></i></a></td>
        </tr>
    </tbody>
</table>