<th>
    <div class="col-10 row">
        @nombreColumna
        <input type="text" class="form-control" placeholder="Buscar" @oninput="buscarText">
    </div>
</th>

@code{
    [Parameter]
    public string nombreColumna {get; set;}

    [Parameter]
    public EventCallback<ChangeEventArgs> buscarText {get; set;}
}