@page "/consulta4"

<div class="row justify-content-center">
    <div class="col-8 alert alert-info text-center">
      <h1>Ejercicio 4</h1>
      <p>La cantidad de clientes que existen por pais</p>
    </div>
</div>

@code{
    
}