@page "/consulta1"
@using Models.DB

<div class="row justify-content-center">
    <div class="col-8 alert alert-info text-center">
      <h1>Ejercicio 1</h1>
      <p>Listado de los empleados, nombre, apellido y Telefono</p>
    </div>
</div>

<Filtro nombre="Nombre" buscarTexto="buscarTexto"></Filtro>

<TablaComponente Items="filtrar">
    <TableHeader>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Telefono</th>
    </TableHeader>
    <TableBody Context="empleado">
        <td>@empleado.Id</td>
        <td>@empleado.FirstName</td>
        <td>@empleado.LastName</td>
        <td>@empleado.HomePhone</td>
    </TableBody>
</TablaComponente>

@code{
    public List<Employee> filtrar = (from d in new northwindContext().Employees
                                        select d).ToList();
    public void buscarTexto(ChangeEventArgs changeEventArgs){
        string buscarText = changeEventArgs.Value.ToString();
        filtrar = new northwindContext().Employees.Where(e => e.FirstName.Contains(buscarText) || e.LastName.Contains(buscarText) || e.HomePhone.Contains(buscarText)).ToList();
    }

}