@page "/consulta6"


<div class="row justify-content-center">
    <div class="col-8 alert alert-info text-center">
      <h1>Ejercicio 6</h1>
      <p>Los 10 clientes que mas han comprado, mostrando el codigo, nombre y monto total vendido</p>
    </div>
</div>

<table class="table table-striped table-hover"> \
    <thead>
        <th>Producto Codigo</th>
        <th>Nombre</th>
        <th>Cantidad</th>
    </thead>
    <tbody>
        @foreach (var item in GetConsulta().Take(10))
        {
            <tr>
                <td>@item.producto_codigo</td>
                <td>@item.nombre</td>
                <td>@item.cantidad</td>
            </tr>
        }
    </tbody>
</table>


@code {
    northwindContext post = new northwindContext();
    List<DataConsulta6> GetConsulta() => (from od in post.OrderDetails
                    join o in post.Orders on od.OrderId equals o.Id 
                    join p in post.Products on od.ProductId equals p.Id
                    join c in post.Customers on o.CustomerId equals c.Id
                    orderby od.Quantity descending
                    select new DataConsulta6 {
                        producto_codigo = p.ProductCode,
                        nombre = c.FirstName,
                        cantidad = od.Quantity
                    }).ToList();
}